@font-face {
    font-family: jb;
    font-style: normal;
    font-weight: normal;
    font-display: auto; /* or block, swap, fallback, optional */
    src: local("jb"), url("./jb.woff2") format("woff2");
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 5px;
    padding: 0;
}
:root {
    --background: #1e2127;
    --blue: #61afef;
    --black: #5c6370;
    --cyan: #56b6c2;
    --foreground: #5c6370;
    --green: #98c379;
    --purple: #c678dd;
    --red: #e06c75;
    --white: #abb2bf;
    --yellow: #d19a66;
}
::selection {
    color: var(--foreground);
}
html {
    box-sizing: border-box;
    justify-content: center;
}
body {
    color: var(--white);
    background-color: var(--background);
    font-family: jb, monospace;
    font-size: medium;
}
a {
    color: var(--yellow);
}
a:hover {
    color: var(--purple);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: auto;
    max-width: 1000px;
    letter-spacing: 1.05px;
}
nav {
    font-size: large;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
/*IDs and Classes*/
#hpage {
    text-align: center;
}
#apage,
#mpage {
    display: none;
}
.wave span {
    display: table-cell;
    color: var(--blue);
    animation: wave 2s infinite;
}
.wave span:nth-child(2) {
    animation-delay: -0.2s;
}
.wave span:nth-child(3) {
    animation-delay: -0.4s;
}
.wave span:nth-child(4) {
    animation-delay: -0.6s;
}
.wave span:nth-child(5) {
    animation-delay: -0.8s;
}
.wave span:nth-child(6) {
    animation-delay: -1s;
}
.wave span:nth-child(7) {
    animation-delay: -1.2s;
}
.wave span:nth-child(8) {
    animation-delay: -1.4s;
}
/*Animations*/
@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(7.5px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*Rules*/
@media only screen and (max-width: 750) {
    nav,
    #apage,
    #hpage {
        display: none;
    }
    #mpage {
        display: block;
    }
}
